USE [NetflixData]
GO
/****** Object:  Table [dbo].[AccionesNetflix]    Script Date: 21/3/2026 22:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccionesNetflix](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Open_] [float] NULL,
	[High] [float] NULL,
	[Low] [float] NULL,
	[Close_] [float] NULL,
	[Adj_Close] [float] NULL,
	[Volume] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosBursatiles]    Script Date: 21/3/2026 22:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosBursatiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Close_] [decimal](10, 2) NULL,
	[Volume] [int] NULL,
	[Open_] [decimal](10, 2) NULL,
	[High] [decimal](10, 2) NULL,
	[Low] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HechosNetflix]    Script Date: 21/3/2026 22:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HechosNetflix](
	[Fecha] [date] NOT NULL,
	[UserID] [int] NOT NULL,
	[show_id] [varchar](10) NOT NULL,
	[reviewId] [varchar](255) NULL,
	[DatosBursatilesId] [int] NULL,
	[AccionesNetflixId] [int] NULL,
	[Reproducciones] [int] NULL,
	[TiempoReproducido] [decimal](10, 2) NULL,
	[IngresoMensual] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[show_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Netflix_Reviews]    Script Date: 21/3/2026 22:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Netflix_Reviews](
	[reviewId] [varchar](255) NOT NULL,
	[userName] [nvarchar](255) NULL,
	[content] [text] NULL,
	[score] [int] NULL,
	[thumbsUpCount] [int] NULL,
	[reviewCreatedVersion] [varchar](50) NULL,
	[at] [date] NULL,
	[appVersion] [varchar](50) NULL,
	[Repetidos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[reviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[netflix_titles]    Script Date: 21/3/2026 22:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[netflix_titles](
	[show_id] [varchar](10) NOT NULL,
	[type] [varchar](50) NULL,
	[title] [varchar](255) NULL,
	[director] [varchar](255) NULL,
	[cast] [text] NULL,
	[country] [varchar](255) NULL,
	[date_added] [date] NULL,
	[release_year] [int] NULL,
	[rating] [varchar](10) NULL,
	[duration] [varchar](50) NULL,
	[listed_in] [varchar](255) NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[show_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Netflix_Userbase]    Script Date: 21/3/2026 22:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Netflix_Userbase](
	[UserID] [int] NOT NULL,
	[SubscriptionType] [varchar](50) NULL,
	[MonthlyRevenue] [int] NULL,
	[JoinDate] [date] NULL,
	[LastPaymentDate] [date] NULL,
	[Country] [varchar](100) NULL,
	[Age] [int] NULL,
	[Gender] [varchar](10) NULL,
	[Device] [varchar](50) NULL,
	[PlanDuration] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HechosNetflix]  WITH CHECK ADD FOREIGN KEY([AccionesNetflixId])
REFERENCES [dbo].[AccionesNetflix] ([Id])
GO
ALTER TABLE [dbo].[HechosNetflix]  WITH CHECK ADD FOREIGN KEY([DatosBursatilesId])
REFERENCES [dbo].[DatosBursatiles] ([Id])
GO
ALTER TABLE [dbo].[HechosNetflix]  WITH CHECK ADD FOREIGN KEY([reviewId])
REFERENCES [dbo].[Netflix_Reviews] ([reviewId])
GO
ALTER TABLE [dbo].[HechosNetflix]  WITH CHECK ADD FOREIGN KEY([show_id])
REFERENCES [dbo].[netflix_titles] ([show_id])
GO
ALTER TABLE [dbo].[HechosNetflix]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Netflix_Userbase] ([UserID])
GO
